@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

a {
  text-decoration: none !important;
  color: inherit;
}

body {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

/* For WebKit-based browsers */
/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

/* Handle part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Border radius of the scrollbar handle */
}

/* Track part of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

/* Hide the scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
